<% title "Contact the customer relations office of KateBeeFoundation" %>

117 Niger Street,<br />
Port Harcourt,<br />
Rivers State,<br />
Nigeria.<br />
<br />
Tel: +234 807 559 286 <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+234 (0) 702 836 0320<br />
<br />
Email: info@katebeefoundation.org
</p>

