<% title "Welcome To KateBeeFoundation" %>

<p>

</p>

<p>
    <div id="gallery_slides">
		<!-- end #gallery_slides --></div>

    <div id="latest_articles">
		<!-- end #latest_articles --></div>

</p>

